<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxwell.monitor.lisdata.dao.SwitchControlMapper">
  <resultMap id="BaseResultMap" type="com.maxwell.monitor.lisdata.entity.SwitchControl">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="switch_type" jdbcType="VARCHAR" property="switchType" />
    <result column="switch_state" jdbcType="VARCHAR" property="switchState" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
</mapper>